<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

-   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

In [1]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%load_ext sql
%sql ibm_db_sa://lhc02564:j03%5Enntxgx8r2rqq@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

'Connected: lhc02564@BLUDB'

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [129]:
#%sql SELECT * FROM chicago_crime_data limit 10;
#%sql SELECT COUNT(*) as number_of_crimes FROM chicago_crime_data;
#PROBLEMA 2
#%sql SELECT * FROM chicago_crime_data limit 10; 
#PROBLEMA 3
#%sql SELECT count(primary_type) as number_of_arrest FROM chicago_crime_data WHERE arrest='TRUE';
#PROBLEMA 4
#%sql SELECT DISTINCT primary_type FROM chicago_crime_data WHERE location_description='GAS STATION'; 
#PROBLEMA 5
#%sql SELECT community_area_name FROM census_data WHERE community_area_name LIKE 'B%';
#PROBLEMA 6
#%sql SELECT name_of_school FROM chicago_public_schools_V3 WHERE healthy_school_certified='Yes' AND Community_area_number BETWEEN 10 AND 15;
#PROBLEMA 7
#%sql SELECT AVG(safety_score) AS avg_safety_score FROM chicago_public_schools_V3;
#PROBLEMA 8
#%sql SELECT community_area_name FROM chicago_public_schools_V3 WHERE es_ms_hs='HS' ORDER BY college_enrollment DESC LIMIT 5;
#PROBLEMA 9
#%sql SELECT community_area_name, (SELECT MIN(safety_score) FROM chicago_public_schools_V3) AS min_safety_score FROM chicago_public_schools_V3 ORDER BY safety_score ASC LIMIT 1;
#PROBLEMA 10
#%sql SELECT census_data.community_area_name, census_data.per_capita_income FROM chicago_public_schools_V3, census_data WHERE chicago_public_schools_V3.community_area_number=census_data.community_area_number AND chicago_public_schools_V3.safety_score=1;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('NORTH CENTER',),
 ('ARCHER HEIGHTS',),
 ('NORWOOD PARK',),
 ('BRIGHTON PARK',),
 ('IRVING PARK',)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [10]:
%sql SELECT community_area_name FROM census_data WHERE per_capita_income<11000;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?

In [13]:
%sql SELECT case_number FROM chicago_crime_data WHERE primary_type='OFFENSE INVOLVING CHILDREN';

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('HM768251',), ('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [16]:
%sql SELECT case_number FROM chicago_crime_data WHERE (primary_type='KIDNAPPING'AND description='CHILD ABDUCTION/STRANGER');

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('HN144152',)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [3]:
%sql SELECT DISTINCT primary_type FROM chicago_crime_data WHERE (location_description='SCHOOL, PUBLIC, GROUNDS' OR location_description='SCHOOL, PUBLIC, BUILDING' OR location_description='SCHOOL, PRIVATE, BUILDING');

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for all types of schools.

In [59]:
%sql SELECT DISTINCT es_ms_hs as Elementary_Middle_or_High_School, (select AVG(safety_score) from chicago_public_schools_V3) as avg_safety_score from  chicago_public_schools_V3;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.504873')),
 ('HS', Decimal('49.504873')),
 ('MS', Decimal('49.504873'))]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [65]:
%sql SELECT * FROM census_data limit 5;
%sql select community_area_name from census_data order by percent_households_below_poverty desc fetch first 5 rows only;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problem 8

##### Which community area is most crime prone?

In [37]:
%sql SELECT * FROM chicago_crime_data limit 5;
%sql SELECT community_area_name, count(community_area_name) as count_community from census_data, chicago_crime_data WHERE chicago_crime_data.community_area_number=census_data.community_area_number group by community_area_name order by count_community DESC  fetch first 1 rows only;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.
 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin', Decimal('46'))]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [19]:
%sql SELECT DISTINCT community_area_name, hardship_index FROM census_data, chicago_crime_data WHERE (SELECT MAX(hardship_index) from census_data) AND chicago_crime_data.community_area_number=census_data.community_area_number order by hardship_index desc fetch first 1 rows only;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [45]:
#%sql SELECT * FROM chicago_crime_data limit 5;
%sql SELECT community_area_name, COUNT(community_area_name) as number_of_crimes from census_data, chicago_crime_data where chicago_crime_data.community_area_number=census_data.community_area_number GROUP BY community_area_name ORDER BY number_of_crimes DESC fetch first 1 rows only;

 * ibm_db_sa://lhc02564:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin', Decimal('46'))]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2020-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>